*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.square{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 0px;
}
